include includes/header.pug
nav(class='navbar navbar-inverse navbar-fixed-top text-center')
	a(class="navbar-brand" href="/avoimet") Avoimet työt
	span(id="openbtn") &#9776;
link(rel="stylesheet" href="/styles/ongoingjobs.css" type="text/css")
link(rel="stylesheet" href="/styles/confirmation-modal.css" type="text/css")
link(rel="stylesheet" href="/styles/ongoingjobs-info-overlay.css" type="text/css")
body(id='bootstrap-override')
	div(class="alert alert-danger job-update-failed" hidden) Työn tilan päivitys epäonnistui! Virheen toistuessa ota yhteys ylläpitoon.
	div(class="job-statusgroup-container" hidden)
		div(class="btn-group job-statusgroup")
			button(class="btn btn-default job-start" disabled) Aloita työ
				span(class="glyphicon glyphicon-play")
			button(class="btn btn-default job-ready" disabled) Aseta valmiiksi
				span(class="glyphicon glyphicon-flag")
			button(id="job-billed-id" class="btn btn-default job-billed" disabled) Laskutettu
				span(class="glyphicon glyphicon-eur")
	div(id="jobInfo" class="overlay")
		a(href="javascript:void(0)" id="jobInfo-closebtn") &times;
		div(class="overlay-content-jobInfo")
			h1 Lisätiedot
			div(class='job-info-overlay-container')
	div(class='container-fluid')
		button(class="btn btn-info job-additional-info") Työn lisätiedot
		div(class="ongoingjoblist")
			div(class="ongoingjob")
				table(class="table table-responsive")
					thead
						tr
							th Tilaaja
							th Tilausosoite
							th Tilauspvm
					tbody
						each value, i in data
							tr(id=data[i].id)
								- var str = data[i].orderdate
								- var date = new Date(str)
								- var day = date.getDate();
								- var mth = date.getMonth() + 1;
								- var year = date.getFullYear();
								- var completed = data[i].completed
								- var started = data[i].started
									if completed == true && started == true
										td #{data[i].clientname}
											img(src="/icons/correct-symbol.svg" class='icon-complete')
									else if completed == false && started == true
										td #{data[i].clientname}
											img(src="/icons/play-button.svg" class='icon-started')
									else
										td #{data[i].clientname}
								td #{data[i].address}
								td= day + '.' + mth + '.' + year
	include includes/billed-modal.pug
	include includes/footer.pug
	script(src="js/ongoingjobs.js")
	script(src="js/updatejob.js")
	script(src="js/billed-modal.js")
	script(class="json-data" type="text/javascript") data = !{JSON.stringify(data)};
	//-Correct symbol: http://www.flaticon.com/free-icon/correct-symbol_25404
	//-Play button: http://www.flaticon.com/free-icon/music-player-play_70409